[submodule "crown_ibp"]
	path = third_party/crown_ibp
	url = https://gitlab.com/neu-autonomy/certifiable-learning/crown_ibp.git
[submodule "RobustNN"]
	path = third_party/robust_sdp
	url = https://gitlab.com/neu-autonomy/certifiable-learning/robust_sdp.git
[submodule "auto_LiRPA"]
	path = third_party/auto_LiRPA
	url = https://github.com/KaidiXu/auto_LiRPA.git
[submodule "jax_verify"]
	path = third_party/jax_verify
	url = https://gitlab.com/neu-autonomy/certifiable-learning/jax_verify.git
[submodule "alpha-beta-CROWN"]
	path = third_party/alpha-beta-CROWN
	url = https://github.com/huanzhang12/alpha-beta-CROWN