*.pth
*.pyc
*~
*.swp
__pycache__
data
# *.h5
*.hdf5
*.egg-info
*.DS_Store
*.ipynb_checkpoints/

torch_model
tmp.txt
partition/results

# autoLiRPA pre-computes tanh/sigmoid stuff and saves a /tmp/tanh.pkl
/tmp

results/

/models

/venv

nn_closed_loop/models/double_integrator_mpc
nn_closed_loop/models/quadrotor
nn_closed_loop/models/quadrotor_small
nn_closed_loop/datasets/double_integrator.zip
nn_closed_loop/nn_closed_loop/utils/leftover_ipynb.py
nn_closed_loop/models/unity/model_*