[submodule "crown_ibp"]
	path = crown_ibp
	url = https://gitlab.com/mit-acl/ford_ugvs/crown_ibp.git
[submodule "RobustNN"]
	path = robust_sdp
	url = https://gitlab.com/mit-acl/ford_ugvs/robust_sdp.git
[submodule "auto_LiRPA"]
	path = auto_LiRPA
	url = https://github.com/KaidiXu/auto_LiRPA.git
