*.pth
*.pyc
*~
*.swp
__pycache__
data
*.h5
*.hdf5
*.egg-info
*.DS_Store
*.ipynb_checkpoints/

*/torch_model
tmp.txt
partition/results

closed_loop/models/double_integrator_mpc
closed_loop/models/quadrotor